<div class='container' id='body-container'>
  <div class="panel">
    <dl>
    <dt><h1 id="name">Michael Talley</h1></dt>
      <h4>
      <dd><h3>Full Stack Web Developer</h3></dd>
      <dd>Medford, MA</dd>
      <dd><a href="mailto: michael.d.talley@gmail.com">michael.d.talley@gmail.com</a></dd>
      </h4>
    </dd>
  </div>

  <p>I am currently working as a Front End Developer for <a href="http://thrivehive.com" target="_blank">ThriveHive</a>, a small business marketing startup in Cambridge. My day to day focuses on using Javascript, and Durandal to build our dynamic, responsive single paged application. Some other libraries that we leverage are Knockout JS, Require, and jQuery.</p>

  <p>Previous to ThriveHive, I was a full-time student in the Web Development Immersive program at <a href="http://www.generalassemb.ly" target="_blank">General Assembly</a> focusing on Javascript, Ruby on Rails, AngularJS, and D3.</p>

  <p>Before pivoting into web development, I was working as a Financial Advisor for <a href="http://www.ml.com" target="_blank">Merrill Lynch</a> in Cambridge, MA. In my 8 years working with Bank of America/Merrill Lynch I gained both face-to-face experience assisting clients with a large spectrum of financial needs as well as experience working as part of a team to deliver on our goals.</p>

  <p>My desire to work with more complex technical problems drove me to continue learning code. The career transition was streamlined by the WDI course that I completed at General Assembly.</p>

  <p>
  <ul>
    <li>JavaScript</li>
      <ul>
        <li>Durandal</li>
        <li>Knockout</li>
        <li>jQuery</li>
        <li>Angular JS</li>
        <li>D3.js - Data Driven Documents</li>
      </ul>
    <li>Ruby/Ruby on Rails</li>
    <li>Firebase</li>
    <li>PostgreSQL</li>
    <li>Redis</li>
  </ul>
  </p>

  <p>Please feel free to view some of my projects on <a href="http://www.github.com/miketalley" target="_blank">GitHub</a>. I have worked on several solo projects and also been part of a collaborative effort using git. If you have any questions, or know of a position that may be a good match, please <a href="mailto: michael.d.talley@gmail.com">email me</a>.
  </p>


</div>
