<div class='container' id='body-container'>
  <div class="panel">
    <dl>
    <dt><h1 id="name">Michael Talley</h1></dt>
      <h4>
      <dd><h3>Full Stack Web Developer</h3></dd>
      <dd>Medford, MA</dd>
      <dd><a href="mailto: michael.d.talley@gmail.com">michael.d.talley@gmail.com</a></dd>
      </h4>
    </dd>
  </div>

  <p>I am currently in the final stages of <a href="http://www.generalassemb.ly" target="_blank">General Assembly</a>'s 12 week Web Development Immersive program. Upon graduation, I will be ready to commence work as a Junior Web Developer. My goal is to find a small company in the Boston area to which I can make a contribution while practicing and enhancing the skills which I have learned. Some of the topics covered include...</p>

  <p>
  <ul>
    <li>Ruby/Ruby on Rails</li>
    <li>JavaScript</li>
    <li>Javascript Frameworks</li>
      <ul>
        <li>Angular JS</li>
        <li>D3.js - Data Driven Documents</li>
      </ul>
    <li>PostgreSQL Databases</li>
    <li>NoSQL Databases</li>
      <ul>
        <li>Redis</li>
      </ul>
  </ul>
  </p>

  <p>Please feel free to view some of my projects on <a href="http://www.github.com/miketalley" target="_blank">GitHub</a>. I have worked on several solo projects and also been part of a collaborative effort using git. If you have any questions, or know of a position that may be a good match, please <a href="mailto: michael.d.talley@gmail.com">email me</a>.
  </p>


</div>
