<div class='container' id='body-container'>
  <div class="panel">
    <h1 id='name'>Contact Michael</h1>
  </div>

    <h3>
    <dl>
      <dt><u>Email</u></dt>
      <dd><a href="mailto: michael.d.talley@gmail.com">michael.d.talley@gmail.com</a></dd>
      <dt><u>LinkedIn</u></dt>
      <dd><a href="http://www.linkedin.com/in/michaeldtalley/" target="_blank">http://www.linkedin.com/in/michaeldtalley/</a></dd>
      <dt><u>Git Hub</u></dt>
      <dd><a href="http://www.github.com/miketalley" target="_blank">http://www.github.com/miketalley</a></dd>
      <dt><u>Twitter</u></dt>
      <dd><a href="https://twitter.com/michaeldtalley" target="_blank">https://twitter.com/michaeldtalley</a></dd>
    </dl>
    </h3>
</div>
