<!DOCTYPE html>
<html ng-app="mtApp">
<head>
  <title>MichaelTalley.com</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', controller_name %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller="mainCtrl">

<%= yield %>

</body>
</html>
